* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    scroll-behavior: smooth;
    font-family: 'Roboto', 'Poppins', sans-serif;
}

:root {
    --bg-color: #081b29;
    --second-bg-color: #112e42;
    --text-color: #ededed;
    --main-color: #00abf0;
}

html {
    font-size: 62.5%;
    overflow-x: hidden;
}

body {
    background: var(--bg-color);
    color: var(--text-color);
}

section {
    /* height: 100vh; */
    padding: 8rem 9% 4rem;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 2rem 9%;
    background: var(--second-bg-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

.logo {
    font-size: 2.5rem;
    color: var(--text-color);
    font-weight: 600;
    cursor: default;
}

.nav-menu a {
    font-size: 1.7rem;
    color: var(--text-color);
    font-weight: 500;
    margin-left: 4rem;
}

.nav-menu a:hover {
    color: var(--main-color);
    transition: .5s;
}

.open-menu,
.close-menu {
    display: none;
    font-size: 2rem;
}

@media only screen and (max-width: 768px) {
    .nav-menu {
        display: flex;
        position: fixed;
        left: -100%;
        top: 7rem;
        flex-direction: column;
        background-color: var(--second-bg-color);
        width: 100%;
        border-radius: 10px;
        text-align: center;
        transition: 0.3s;
        box-shadow: 10 10px 27px var(--bg-color);
    }

    .nav-menu.active {
        left: 0;
    }

    .open-menu {
        display: block;
        cursor: pointer;
    }

    .close-menu{
        display: none;
    }

    .open-menu.active {
        display: none;
    }

    .close-menu.active{
        display: block;
        cursor: pointer;
    }

    .nav-link {
        margin: 2.5rem 0;
    }
}

.home {
    display: flex;
    justify-content: center;
    align-items: center;
}

.home-content h3 {
    font-size: 3.2rem;
    font-weight: 700;
}

.home-content h1 {
    font-size: 5.6rem;
    font-weight: 700;
    line-height: 1.3;
    color: var(--main-color);
}

.home-img img {
    width: 35vw;
    padding-bottom: 16rem;
}

.home-content p {
    margin-top: 1rem;
    font-size: 1.6rem;
    letter-spacing: .07rem;
}

.Professional-details{
    display: flex;
    justify-content: left;
    align-items: center;
}

@media only screen and (max-width: 568px) {
    .Professional-details{
        flex-direction: column;
    }
    .btn-box{
        margin-top: 20px;
        margin-bottom: 5px;
    }

}

.btn-box {
    position: relative;
    display: flex;
    width: 17rem;
    height: 5rem;
    margin-top: 20px;
    margin-right: 20px;
    margin-bottom: 10px;
}

.btn-box .bt {
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    border-radius: 4rem;
    box-shadow: 0 0 2rem var(--main-color);
    font-size: 1.6rem;
    color: var(--text-color);
    letter-spacing: .1rem;
    font-weight: 600;
    transition: .5s;
    z-index: 1;
    overflow: hidden;
}

.btn-box .bt:hover {
    background: var(--main-color);
    color: var(--second-bg-color);
}

.btn-box .bt::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background-color: var(--main-color);
    z-index: -1;
    transition: .5s;
}

.btn-box .bt:hover::before {
    width: 100%;
}

@media only screen and (max-width: 1100px) {
    .home {
        display: flex;
        flex-direction: column-reverse;
        justify-content: space-between;
        align-items: center;
    }

    .home-content h1 {
        font-size: 4.0rem;
        font-weight: 700;
        line-height: 1.0;
        color: var(--main-color);
        margin-top: .2rem ;
        margin-bottom: .2rem;
    }

    .home-img img {
        width: 60vw;
        padding-bottom: 5rem;
    }
}

.about {
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--second-bg-color);
}

.about .heading {
    text-align: left;
    font-size: 4.5rem;
    margin-bottom: 2rem;
    color: var(--main-color);
}

.about .heading img{
    width: 55px;
    height: 55px;
    border-radius: 50%;
    border: .2px solid var(--main-color);
    box-shadow: 0 0 2rem var(--main-color);
    transform: translateY(7px);
    margin-right: 8px;
}

.heading {
    text-align: center;
    font-size: 4.5rem;
    margin-bottom: 2rem;
    color: var(--main-color);
}


.about-content h3 {
    font-size: 2.6rem;
}

.about-content p {
    font-size: 1.6rem;
    margin: 2rem 0 3rem;
    line-height: 130%;
    letter-spacing: .07rem;
}

.education {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-height: auto;
    padding-bottom: 5rem;
}

.education .education-row {
    display: flex;
    flex-wrap: wrap;
    gap: 5rem;
}

.education .education-column {
    flex : 1 1 40rem;
}

.education-column .title {
    font-size:  2.5rem;
    margin: 0 0 1.5rem 2rem;
}

.education-column .education-box {
border-left: .2rem solid var(--main-color);
}

.education-content .content:hover{
    border: .2rem solid var(--main-color);
    box-shadow: 0 0 2rem var(--main-color);
    cursor: pointer;
}

.education-box .education-content {
    position: relative;
    padding-left: 2rem;
}

.education-content .content {
    position: relative;
    padding: 1.5rem;
    border: .2rem solid var(--main-color);
    border-radius: .6rem;
    margin-bottom: 2rem;
    font-size: 1.3rem;
    letter-spacing: .10rem;
}

.education-content .content::before {
    content: '';
    position: absolute;
    top:0;
    left: -3.3rem;
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    background-color: var(--main-color);
}

.education-content .content .year {
    font-size: 1.5rem;
    color: var(--main-color);
    padding-bottom: .5rem;
}

.education-content .content .year i {
    padding-right: .5rem;
}

.education-content .content h3 {
    font-size: 2rem;
}

.education-content .content h4 {
    font-size: 1.5rem;
}

.education-content .content devops {
    font-size: 1.4rem;
    color: var(--main-color);
    letter-spacing: .14rem;
}

.education-content .content span {
    font-size: 1.3rem;
    letter-spacing: .14rem;
    color: var(--main-color);
    padding: .6rem;
}

.education-content .content .skills {
    position: relative;
    padding: 1rem;
}

.education-content .content span::before {
    content: '';
    position: absolute;
    top: 1.3rem;
    left: -.2rem;
    width: 1rem;
    height:1rem;
    border-radius: 50%;
    background-color: var(--text-color);

}

.education-content .content p {
    font-size: 1.4rem;
    padding-top: .5rem;
}

.projects {
    background: var(--second-bg-color);
}

.projects-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 4rem;
}

.projects-container .projects-box {
    flex: 1 1 3rem;
    background: var(--second-bg-color);
    padding: 2rem 2rem 2rem;
    border-radius: 2rem;
    text-align: center;
    border: .2rem solid var(--bg-color);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.projects-container .projects-box:hover{
    border: .2rem solid var(--main-color);
    box-shadow: 0 0 1rem var(--main-color);
    cursor: pointer;
}

.projects-box i {
    font-size: 5rem;
    color: var(--main-color);
}

.projects-box h3 {
    font-size: 1.8rem;
}

.projects-box p {
    font-size: 1.3rem;
    margin: 1rem 0 2rem;
}

.contact {
    padding: 4rem 9% 2rem;
}

.contact-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.contact-container .contact-box {
    flex: 1 1 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.contact-box .contact-details {
    padding: 1rem;
    font-size: 1.8rem;
    color: var(--main-color);
}

.contact-box .contact-details span {
    padding-left: .4rem;
}

@media only screen and (max-width: 768px) {
    .contact-container .details {
        flex-direction: column;
    }
}

